@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    text-decoration: none;
    /* display: flex; */
    /* background-color: #ffa8B6; */
    /* flex-direction: column; */
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg-image{
    background-image: url(../../picture/gaming.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
    height: 100vh;
}
/*****HEADER****/

header {

    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 20vh;
    background-color: #51e2f5;

}

#top-title {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 30%;
    font-size: 30px;
    margin-left: 20px;

}
#top-title h3{

        color:#edf7F6;
}
.fa-gamepad:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
.form{
    z-index: 1000000;
}
.center_form_topic{
    display: flex;
    justify-content: center;
}
.center_pProfil{
    text-align: center;
}
.btn {
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin: 7px;
    border-radius: 4px;
    width: 100px;
    margin-top: 10px;
    height: 30px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(112, 103, 100, 0.3);
    transition: 0.4s;
}

.btn a {
    color: #edf7F6;
    transition: 0.3s;
}

.btn a:hover {
    color:  #ffa8B6;
    box-shadow: 0 0 20px (112, 103, 100, 0.6);
}
.menu-nav {
    display: flex;
}

/*****INDEX****/

.title-form {

    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 10px;
    color: #edf7F6;
}

#form-add-topics{
    display: flex;
    align-items: center;
    margin: 40px;
    max-width: 100%;
    flex-direction: column;
    background-color: #51e2f5;
    border-radius: 10px;
    width: 40%;
}

input {
    border: none;
    outline: none;
    width: 300px;
    margin: 5px;
    padding: 8px;
    font-size: 15px;
    border: 3px solid #ffa8B6;
    width: 40%;
    border-radius: 1rem;
}
.button {

    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    background-color: #ffa8B6;
    margin-top: 10px;
    
}
input[type=submit]{
    display: block;
    width: 20%;
    cursor: pointer;
    margin-bottom: 30px;
}
i {

    text-align: center;
    color: #dddddd;
    cursor: pointer;
    font-size: 30px;
    margin-left: 25px;
    transition: 0.3s;

}

i:hover {

    color: #ffa8B6;

}
table {

border-collapse: collapse;

width: 100%;

height: 100px;

overflow: auto;

text-align: center;
}

table td,th{
    padding: 10px;
    background-color: #edf7F6;
    border: white 3px solid;
}
table th{
    background-color: #ffa8B6;
    color:#edf7F6;
}


/**** CATEGORIE****/
.center {

    display: flex;
    justify-content: center;
}

.table-center {

    width: 70%;
    border-collapse: collapse;
}

.table-center td,th {
    padding: 10px;
    background-color: #edf7F6;
    border: rgb(219, 219, 219) 3px solid;
}

th{
    background-color: #ffa8B6;
    color:#edf7F6;
}
/****MESSAGE***/
.vote_btn {

    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
    padding : 0px;
    background: transparent;
    
}

.vote_like {

    border: none;
    padding : 0px;
    background: transparent;
    transition: color 0.3;
    font-size: 17px;
}

.vote_dislike {

    border: none;
    padding : 0px;
    background: transparent;
    transition: color 0.3;
    font-size: 17px;
}

.vote_like:hover {

    color: rgb(6, 231, 6);
}

.vote_dislike:hover {

    color: rgb(221, 59, 37);
}

/****FOOTER***/
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 18vh;
    background-color:#51e2f5;

}
@media screen and (min-width: 1200px) {
    h2 {
        display: flex;
        justify-content: center;
        font-size: 60px;
        color: white;
        background-color: #ffa8B6;
        padding: 5px;
        border-radius: 10px;
    }
    form {
        display: flex;
        justify-content: center;
    }

    #nav-index {

        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: space-evenly;
        width: 100%;
    }

    h3 {
        font-size: 45px;
        cursor: pointer;

    }

    .btn_center {
        display: flex;
        flex-direction: row;
    }
    
    #banner{
        position: absolute;
        top: 33%;
        left: 33%;
}

}

@media screen and (max-width: 1199px) and (min-width: 1000px) {
    h2 {
        display: flex;
        justify-content: center;
        font-size: 40px;
        color: white;
        background-color: #ffa8B6;
        padding: 5px;
        border-radius: 10px;
    }
    form {
        display: flex;
        justify-content: center;
    }

    #nav-index {

        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: space-evenly;
        width: 100%;
    }

    h3 {

        color: azure;
        font-size: 35px;
        cursor: pointer;

    }

    .btn_center {
        display: flex;
        flex-direction: row;
    }
    
    #banner{
        position: absolute;
        top: 33%;
        left: 33%;
        height: 100%;
}


}

@media screen and (max-width: 999px) and (min-width: 700px) {
    h2 {
        display: flex;
        justify-content: center;
        font-size: 30px;
        color: white;
        background-color: #ffa8B6;
        padding: 5px;
        border-radius: 10px;
    }
    #nav-index {

        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        width: 100%;
    }

    form {
        display: flex;
        justify-content: center;
    }

    h3 {

        color: azure;
        font-size: 25px;
        cursor: pointer;

    }

    .btn_center {
        display: flex;
        flex-direction: row;
    }
    #banner{
        position: absolute;
        top: 33%;
        left: 33%;
    }
}

@media screen and (max-width: 699px) and (min-width: 600px) {
    h2 {
        display: flex;
        justify-content: center;
        font-size: 20px;
        color: white;
        background-color: #ffa8B6;
        padding: 5px;
        border-radius: 10px;
    }
    #nav-index {

        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        width: 100%;
    }

    form {
        display: flex;
        align-items: center;
    }

    h3 {

        color: azure;
        font-size: 25px;
        cursor: pointer;

    }


    input.recherche {
        width: 75%;
    }

    h2 {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        font-size: 35px;


    }

    .btn_center {
        display: flex;
        flex-direction: row;
    }
    #banner{
        position: absolute;
        top: 25%;
        left: 25%;
    }
}
@media screen and (max-width: 599px) and (min-width: 400px){
    h2 {
        display: flex;
        justify-content: center;
        font-size: 20px;
        color: white;
        background-color: #ffa8B6;
        padding: 5px;
        border-radius: 10px;
    }
    #nav-index {

        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {

color: azure;

font-size: 25px;

cursor: pointer;

color: mix(#fff, #e91e63, 85%);

/* font-size: calc(1em + 20vw); */

font-weight: 900;

text-shadow: 
  -0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
  0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
  0.01em 0.01em 0 mix(#fff, #e91e63, 62%), 
  0.015em 0.015em mix(#fff, #e91e63, 64%), 
  0.02em 0.02em 0 mix(#fff, #e91e63, 66%), 
  0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
  0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
  0.035em 0.035em 0 mix(#fff, #e91e63, 72%);

}


    input.recherche {
        width: 75%;
    }

    h2 {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        font-size: 35px;


    }

    .btn_center {
        display: flex;
        flex-direction: row;
    }
    #banner{
        position: absolute;
        top: 35%;
        left: 10%;
    }
}
@media screen and (max-width: 399px) {
    h2 {
        display: flex;
        justify-content: center;
        font-size: 20px;
        color: white;
        background-color: #ffa8B6;
        padding: 5px;
        border-radius: 10px;
    }
    #nav-index {

        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    h3 {

        color: azure;
        font-size: 25px;
        cursor: pointer;

    }


    input.recherche {
        width: 75%;
    }

    h2 {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        font-size: 35px;


    }

    .btn_center {
        display: flex;
        flex-direction: row;
    }
    #banner{
        position: absolute;
        top: 35%;
        left: 10%;
        right: 10%;
    }
}

/*KEYFRAMES*/

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
