@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    text-decoration: none;
}

html{
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg-image{
    background-image: url(../../picture/gaming.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
    height: 100vh;
}
/*****HEADER****/

header {

    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 20vh;
    background-color: #51e2f5;

}

#top-title {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 30%;
    font-size: 30px;
    margin-left: 20px;

}
#top-title h3{

        color:#edf7F6;
}
.form{
    z-index: 1000000;
}
.btn {
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin: 7px;
    border-radius: 4px;
    width: 100px;
    margin-top: 10px;
    height: 30px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(112, 103, 100, 0.3);
    transition: 0.4s;
}

.btn a {
    color: #edf7F6;
    transition: 0.3s;
}

.btn a:hover {
    color:  #ffa8B6;
    box-shadow: 0 0 20px (112, 103, 100, 0.6);
}

.menu-nav {
    display: flex;
}

/*****INDEX****/

h2 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 60px;
    color: #9df9ef;
}

h4 {

    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;

}
#form-add-topics{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:50px;
    max-width: 100%;
    flex-direction: column;
    background-color: #51e2f5;
    border-radius: 10px;
}
#form-add-topics label{
    padding-top:30px;
}
input {
border: none;
outline: none;
width: 300px;
margin: 2px;
padding: 5px;
font-size: 15px;
border: 3px solid rgb(177, 122, 165);
width: 30%;
border-radius: 1rem;
}

input[type=submit]{
    width: 20%;
    cursor: pointer;
    margin-bottom: 30px;
}
i {

    text-align: center;
    color: #edf7F6;
    cursor: pointer;
    font-size: 33px;
    margin: 4px;
    transition: 0.3s;

}

i:hover {

    color: #ffa8B6;

}
table {
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
table td,th{
    padding: 10px;
    background-color: #edf7F6;
}
table th{
    background-color: #51E2F5;
    color:#edf7F6;
}
/****FOOTER***/
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 18vh;
    background-color:#51e2f5;

}
@media screen and (min-width: 1200px) {
    form {
        display: flex;
        justify-content: center;
    }

    #nav-index {

        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: space-evenly;
        width: 100%;
    }

    h3 {
        font-size: 45px;
        cursor: pointer;

    }

    .btn_center {
        display: flex;
        flex-direction: row;
    }
    
    #banner{
        position: absolute;
        top: 33%;
        left: 33%;
}

}

@media screen and (max-width: 1199px) and (min-width: 1000px) {
    form {
        display: flex;
        justify-content: center;
    }

    #nav-index {

        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: space-evenly;
        width: 100%;
    }

    h3 {

        color: azure;
        font-size: 35px;
        cursor: pointer;

    }

    .btn_center {
        display: flex;
        flex-direction: row;
    }
    
    #banner{
        position: absolute;
        top: 33%;
        left: 33%;
}


}

@media screen and (max-width: 999px) and (min-width: 700px) {
    #nav-index {

        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        width: 100%;
    }

    form {
        display: flex;
        justify-content: center;
    }

    h3 {

        color: azure;
        font-size: 25px;
        cursor: pointer;

    }

    .btn_center {
        display: flex;
        flex-direction: row;
    }
    #banner{
        position: absolute;
        top: 33%;
        left: 33%;
    }
}

@media screen and (max-width: 699px) and (min-width: 600px) {
    #nav-index {

        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {

        color: azure;
        font-size: 25px;
        cursor: pointer;

    }


    input.recherche {
        width: 75%;
    }

    h2 {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        font-size: 35px;


    }

    .btn_center {
        display: flex;
        flex-direction: row;
    }
    #banner{
        position: absolute;
        top: 25%;
        left: 25%;
    }
}
@media screen and (max-width: 599px) and (min-width: 400px){
    #nav-index {

        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {

        color: azure;
        font-size: 25px;
        cursor: pointer;

    }


    input.recherche {
        width: 75%;
    }

    h2 {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        font-size: 35px;


    }

    .btn_center {
        display: flex;
        flex-direction: row;
    }
    #banner{
        position: absolute;
        top: 35%;
        left: 10%;
    }
}
@media screen and (max-width: 399px) {
    #nav-index {

        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {

        color: azure;
        font-size: 25px;
        cursor: pointer;

    }


    input.recherche {
        width: 75%;
    }

    h2 {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        font-size: 35px;


    }

    .btn_center {
        display: flex;
        flex-direction: row;
    }
    #banner{
        position: absolute;
        top: 35%;
        left: 10%;
        right: 10%;
    }
}